body {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #212121;
  margin: 0px auto;
}

.link {
  color: #212121;
  text-decoration: none;
}

.unstyled-list {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  transform: scale(0, 1);
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section {
  padding: 94px 0px;
  padding-top: 94px;
}

.section--header {
  padding: 0px;
}

.section--footer {
  padding: 0px;
}

.section__hero {
  padding: 0px;
}

.container {
  width: 1200px;
  margin: 0px auto;
  list-style: none;
}

.grid {
  display: flex;
  gap: 30px;
  margin: 0 auto;
  list-style: none;
  padding: 0px;
}

* {
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

body {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #212121;
  margin: 0px auto;
}

.link {
  color: #212121;
  text-decoration: none;
}

.unstyled-list {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  transform: scale(0, 1);
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section {
  padding: 94px 0px;
  padding-top: 94px;
}

.section--header {
  padding: 0px;
}

.section--footer {
  padding: 0px;
}

.section__hero {
  padding: 0px;
}

.container {
  width: 1200px;
  margin: 0px auto;
  list-style: none;
}

.grid {
  display: flex;
  gap: 30px;
  margin: 0 auto;
  list-style: none;
  padding: 0px;
}

* {
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.header--border {
  border-bottom: 1px solid #ECECEC;
}

.link {
  color: #212121;
  text-decoration: none;
}

.header__main {
  background-color: #FFFFFF;
  display: flex;
  padding: 32px 0px;
}
.header__navigation {
  display: flex;
  align-items: center;
  flex-grow: 1;
}
.header__navigation .section__hero {
  background-color: var(--background-section);
}
.header__navlist {
  padding: 0px;
  display: flex;
  gap: 50px;
  flex-grow: 1;
}
.header__navlist:hover {
  color: #2196F3;
  text-decoration: none;
}
.header__navlist--item a {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__navigation--link {
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__navigation--link.active-link {
  position: relative;
  padding-bottom: 28px;
}
.header__navigation--link.active-link::after {
  content: "";
  border: 2px solid #2196F3;
  width: 100%;
  position: absolute;
  bottom: -12px;
  border-radius: 2px;
  left: 0;
  visibility: visible;
}
.header__right-navigation-list {
  color: #757575;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 30px;
}
.header__contact-list-item {
  display: flex;
  gap: 30px;
  justify-content: center;
}
.header__contact-list-item a {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__contact-list-item a:hover {
  color: #2196F3;
}
.header__contact-list-item a:hover .section__right-navigation-icon-1 {
  fill: #2196F3;
}
.header__contact-list-item a:hover .section__right-navigation-icon-2 {
  fill: #2196F3;
}
.header__contact-list-item:hover {
  fill: #2196F3;
}
.header__right-navigation-contact {
  display: flex;
  gap: 10px;
  fill: #757575;
  color: #757575;
}
.header__right-navigation-contact:hover {
  fill: #2196F3;
  color: #2196F3;
  fill: #2196F3;
}
.header__right-navigation-icon-1 {
  fill: #757575;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__right-navigation-icon-1:hover {
  fill: #2196F3;
}
.header__right-navigation-icon-2 {
  fill: #757575;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__right-navigation-icon-2:hover {
  fill: #2196F3;
}

.logo--headersection {
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  margin-right: 93px;
  color: #212121;
  text-decoration: none;
}

.logo__headertext {
  color: #2196F3;
}

.section--header {
  padding: 0px;
}

.modal__span-terms {
  color: #2196F3;
}

.navigation-link:hover {
  fill: #2196F3;
}

body {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #212121;
  margin: 0px auto;
}

.link {
  color: #212121;
  text-decoration: none;
}

.unstyled-list {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  transform: scale(0, 1);
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section {
  padding: 94px 0px;
  padding-top: 94px;
}

.section--header {
  padding: 0px;
}

.section--footer {
  padding: 0px;
}

.section__hero {
  padding: 0px;
}

.container {
  width: 1200px;
  margin: 0px auto;
  list-style: none;
}

.grid {
  display: flex;
  gap: 30px;
  margin: 0 auto;
  list-style: none;
  padding: 0px;
}

* {
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.page-footer {
  background: #2F303A;
}

.section__footer-style {
  display: flex;
  padding-top: 60px;
  gap: 94px;
}
.section__footer-logo-container {
  display: flex;
  gap: 94px;
}
.section__footer-logo {
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}
.section__span-logo {
  color: #2196F3;
}
.section__informations-of-contact {
  display: inline-block;
  margin-top: 28px;
}
.section ul.section__informations-of-contact li {
  margin-bottom: 12px;
}
.section ul.section__informations-of-contact li:last-child {
  margin-bottom: 60px;
}
.section__location {
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}
.section__contacts {
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.section__contacts:hover {
  color: #2196F3;
}
.section__find-us-section {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: 20px;
  padding-top: 15px;
}
.section__social-icons {
  display: flex;
}
.section__social-media-icons {
  display: flex;
  justify-content: center;
}
.section__social-media-icons ul {
  display: flex;
  gap: 10px;
}
.section__social-media-icons-svg {
  fill: #afb1b8;
  display: flex;
  width: 20px;
  height: 20px;
}
.section__social-media-icons-svg:hover {
  fill: #FFFFFF;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.section__icon-list-footer {
  color: #FFFFFF;
  fill: #FFFFFF;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.section__icon-list-footer:hover {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.section__icon-list-item-footer {
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.section__find-us-text {
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  padding-top: 15px;
}
.section__subscribe-footer {
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  padding-top: 15px;
}
.section__newsletter {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 15px;
  position: relative;
}
.section__footer-subscribe-button {
  position: absolute;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  width: 200px;
  height: 50px;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  display: flex;
  align-items: center;
  text-align: center;
  padding-left: 43px;
  left: 370px;
}
.section__subscribe-svg {
  width: 24px;
  height: 24px;
  color: #FFFFFF;
  fill: #fff;
  padding-left: 25px;
}

.icon-list-item-footer:hover {
  background: #2196F3;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.email-footer {
  position: relative;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
.email-footer input[type=email] {
  width: inherit;
  height: inherit;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
.email-footer input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.section__button-list {
  display: flex;
  justify-content: center;
  gap: 8px;
  padding: 94px 0px 50px 0px;
}
.section__button {
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  background: #F5F4FA;
  border: 0;
  border-radius: 4px;
  padding: 6px 22px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.section__button:hover {
  color: #FFFFFF;
  background: #2196F3;
  border: none;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.section__container-list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  margin-top: 50px;
  margin-bottom: 94px;
  margin: 0;
  padding: 0;
  justify-content: center;
  margin: 0 auto;
  padding-bottom: 94px;
  align-items: center;
  position: relative;
}
.section__container-portfolio {
  height: 404px;
  background: #FFFFFF;
  border-bottom: 1px solid #EEEEEE;
  position: relative;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.section__container-portfolio:hover {
  border: 1px solid #EEEEEE;
  cursor: pointer;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.section__container-image {
  height: 404px;
  display: block;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
}
.section__container-image:hover .over {
  transform: translateY(0px);
}
.section__container-image:hover .section__overlay-portfolio {
  transform: translateY(0px);
}
.section__container-overlay-image-portfolio {
  position: relative;
  overflow: hidden;
}
.section__overlay-portfolio {
  position: absolute;
  background: rgba(0, 0, 255, 0.7);
  overflow: hidden;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms linear;
  opacity: 0.9;
  bottom: 0;
}
.section__overlay-text-portfolio {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  padding: 64px 24px 91px 24px;
}
.section__container-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  text-align: left;
  padding: 20px 24px 4px;
  position: relative;
  z-index: 1;
}
.section__container-sub-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #757575;
  padding: 0px 24px 20px;
  position: relative;
  z-index: 1;
}

.studio-height {
  height: 600px;
  background-color: #2F303A;
  background: linear-gradient(rgba(90, 90, 94, 0.7), rgba(70, 72, 92, 0.2)), url(../images/background-for-studio.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.studio-height__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
  padding-bottom: 30px;
}
.studio-height__button {
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  background: #F5F4FA;
  border: 0;
  border-radius: 4px;
  padding: 6px 22px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #FFFFFF;
  background: #2196F3;
  padding: 10px 20px;
}

.modal__button-submit {
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  background: #F5F4FA;
  border: 0;
  border-radius: 4px;
  padding: 6px 22px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.grid--feature {
  flex-wrap: wrap;
  padding: 0;
  align-items: center;
}

.grid--feature-1 {
  flex-wrap: wrap;
  padding: 0;
  align-items: center;
}

.grid__feature {
  display: flex;
  justify-content: center;
  align-items: center;
}

.feature-svgcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 251px;
}
.feature-svgcontainer__item {
  width: 270px;
  height: 120px;
  background-color: #F5F4FA;
  display: flex;
  align-items: center;
  justify-content: center;
}
.feature-svgcontainer__item svg {
  width: 70px;
  height: 70px;
}

.feature-content {
  height: 120px;
  width: 270px;
}
.feature-content__title {
  padding-top: 30px;
  padding-bottom: 10px;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.feature-content__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}

.grid--what-we-do-section {
  align-items: center;
  justify-content: center;
  mix-blend-mode: normal;
}

.grid__what-we-do-list {
  position: relative;
}

.element__text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  color: #fff;
  font-size: 14px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  transform: translateY(100%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.element .element__text {
  opacity: 1;
  transform: translateY(0);
}

.element__image {
  height: 294px;
  width: 370px;
}

.grid__item {
  width: 270px;
  height: 428px;
  background: #FFFFFF;
  border-bottom: 1px solid #EEEEEE;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.section__title {
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  padding-bottom: 50px;
  margin-top: 94px;
}

.member {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}
.member__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  text-align: center;
  padding: 30px 0px 10px;
}
.member__occupation {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: #757575;
  text-align: center;
  padding-bottom: 16px;
}
.member__image {
  height: 260px;
  width: 270px;
}

.social-media-grid {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
}
.social-media-grid ul {
  display: flex;
  gap: 10px;
}
.social-media-grid__item {
  display: flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.social-media-grid__item:hover {
  background: #2196F3;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-media-grid__item:hover svg {
  fill: #FFFFFF;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-media-grid__icons-svg {
  fill: #afb1b8;
  display: flex;
  width: 20px;
  height: 20px;
}
.social-media-grid__icons-svg:hover {
  fill: #FFFFFF;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-media-grid__icon-list-item-footer:hover {
  background: #2196F3;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-media-grid__social-media-icons-svg {
  fill: #afb1b8;
  display: flex;
  width: 20px;
  height: 20px;
}
.social-media-grid__social-media-icons-svg:hover {
  fill: #FFFFFF;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-container {
  box-sizing: border-box;
  width: 170px;
  height: 92px;
  background-color: #FFFFFF;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.customers-container svg {
  width: 100%;
  height: 100%;
}
.customers-container:hover {
  fill: #2196F3;
  border-color: #2196F3;
  cursor: pointer;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-container:hover svg {
  fill: #2196F3;
  border-color: #2196F3;
  cursor: pointer;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.svg-container-customers {
  width: 106px;
  height: 60px;
}
.svg-container-customers__svg {
  fill: #AFB1B8;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  transform: scale(0, 1);
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__span-terms {
  color: #2196F3;
}
.modal__button-submit {
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  background: #F5F4FA;
  border: 0;
  border-radius: 4px;
  padding: 6px 22px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #FFFFFF;
  background: #2196F3;
  padding: 10px 80px;
  margin: 0 auto;
  display: block;
}
.modal__div {
  width: 528px;
  height: 581px;
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: relative;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
}
.modal__close-button-position {
  width: 30px;
  height: 30px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  top: 8px;
  right: 8px;
  position: absolute;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__close-button {
  top: 17px;
  right: 17px;
  width: 11px;
  height: 11px;
}
.modal__elements {
  width: 448px;
  margin: 0px auto;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.modal__title {
  position: relative;
  height: 23px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  padding-bottom: 12px;
}
.modal__contact-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.modal__contact-form:focus + .modal__svg-contact {
  fill: #2196F3;
}
.modal__contact-form input[type=checkbox] {
  display: none;
}
.modal__contact-form input[type=checkbox]:checked + .modal__replace-checkbox {
  background: #2196F3;
  border-color: #2196F3;
}
.modal__contact-form input[type=checkbox]:checked + .modal__replace-checkbox svg {
  opacity: 1;
}
.modal__replace-checkbox {
  width: 16px;
  height: 16px;
  border: 2px solid black;
  border-radius: 2px;
}
.modal__terms-svg {
  width: 16px;
  height: 16px;
  opacity: 0;
  fill: #FFFFFF;
}
.modal__form-item {
  display: flex;
  flex-direction: column;
  gap: 4px;
  position: relative;
}
.modal__form-item:focus-within svg use {
  fill: #2196F3;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__text {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
  padding-bottom: 4px;
}
.modal__text-terms {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
  padding-bottom: 4px;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}
.modal li p.modal__text-terms {
  display: inline-block;
  vertical-align: middle;
}
.modal__input-dimensions {
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 10px;
  position: relative;
  cursor: pointer;
  padding-left: 42px;
}
.modal__input-dimensions:focus {
  outline: none;
  border: 1px solid #2196F3;
  border-radius: 4px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__textarea {
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 10px;
  position: relative;
  cursor: pointer;
  width: 488px;
  height: 120px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal__textarea:focus {
  outline: none;
  border: 1px solid #2196F3;
  border-radius: 4px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__svg-contact {
  display: flex;
  width: 18px;
  height: 18px;
  position: absolute;
  z-index: 1;
  top: 33px;
  left: 12px;
}
.modal__svg-telephone {
  display: flex;
  width: 18px;
  height: 18px;
  position: absolute;
  z-index: 1;
  top: 33px;
  left: 12px;
}
.modal__svg-email {
  display: flex;
  width: 18px;
  height: 18px;
  position: absolute;
  z-index: 1;
  top: 33px;
  left: 12px;
}

.modal--terms {
  padding-bottom: 20px;
  flex-direction: row;
  gap: 7px;
}/*# sourceMappingURL=main.css.map */