@import"../utils/vars" ;
@import"../base/base" ;

.header--border {
	border-bottom: 1px solid #ECECEC;
}

.link{
    color: #212121;
    text-decoration: none;
}

.header {

	&__main{
		background-color: $background-color_1;
		display: flex;
		padding: 32px 0px;
	}


	&__navigation {
		.section__hero {
			background-color: $background-color_2;
		}
		display: flex;
		align-items: center;
		flex-grow: 1;
	}

	&__navlist {
		padding: 0px;
		display: flex;
		gap: 50px;
		flex-grow: 1;
		&:hover {
			color: $color_2;
			text-decoration: none;
		}
	}

	&__navlist--item {
		a {
			transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
		}
	}

	&__navigation--link {
		letter-spacing: 0.02em;
		color: $color_1;
		text-decoration: none;
		transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	}

	&__navigation--link.active-link {
		position: relative;
		padding-bottom: 28px;
		&::after {
			content: '';
			border: 2px solid #2196F3;
			width: 100%;
			position: absolute;
			bottom: -12px;
			border-radius: 2px;
			left: 0;
			visibility: visible;
		}
	}

	&__right-navigation-list {
		color: $color_3;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		gap: 30px;
	}

	&__contact-list-item {
		display: flex;
		gap: 30px;
		justify-content: center;
		a {
			display: flex;
			align-items: center;
			gap: 10px;
			color: $color_3;
			transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
			&:hover {
				color: $color_2;
				.section__right-navigation-icon-1 {
					fill: #2196F3;
				}
				.section__right-navigation-icon-2 {
					fill: #2196F3;
				}
			}
		}
		&:hover {
			fill: #2196F3;
		}
	}

	&__right-navigation-contact {
		display: flex;
		gap: 10px;
		fill: #757575;
		color: $color_3;
		&:hover {
			fill: #2196F3;
			color: $color_2;
			fill: #2196F3;
		}
	}

	&__right-navigation-icon-1 {
		&:hover {
			fill: #2196F3;
		}
		fill: #757575;
		transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
	}

	&__right-navigation-icon-2 {
		&:hover {
			fill: #2196F3;
		}
		fill: #757575;
		transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
	}

}

.logo--headersection{
	font-weight: 700;
	font-size: 26px;
	line-height: 31px;
	letter-spacing: 0.03em;
	margin-right: 93px;
	color: $color_1;
	text-decoration: none;
}

.logo__headertext{
	color: $color_2;
}

.section--header {
	padding: 0px;
}

.modal__span-terms {
	color: $color_2;
}

.navigation-link {
	&:hover {
		fill: #2196F3;
	}
}
